@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --green:#16a085;
   --black:#444;
   --light-color:#777;
   --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
   --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
   --border:.2rem solid var(--green);
}

*{
   font-family: 'poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: borer-box;
   outline: none;
   border: none;
   text-transform: capitalize;
   transition: all .5s ease-in-out;
   text-decoration: none;
   outline: none;
} 

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-padding-top: 7rem;
   scroll-behavior: smooth;
   background:#15616D;
}
section{
    padding: 2rem auto;
    margin: 2rem auto;
}
/*section:nth-child(even){
  /* background: ; 
}*/
.heading{
  text-align: center;
  white-space: nowrap;
  padding-bottom: 2rem;
  color: white;
  text-shadow: var(--text-shadow);
  text-transform: capitalize;
  font-size: 5rem;
  letter-spacing: .5rem;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:.5rem;
  border: var(--border);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  color: white;
  width: 150px;
  font-size: 1.7rem;
  text-align: center;
}
.btn span{
  padding: .7rem 1rem;
  border-radius: .5rem;
  background:white ;
  color: blue;
  margin-left: .5rem;
}
.btn span:hover{
  background: blue;
  color: white;
}
.btn:hover{
  background: white;
  color: blue;
}
.header{
   padding: 2rem 9%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
   display: flex;   
   align-items: center;
   justify-content: space-between;
   /* background: blue; */
   background: #3F7CAC;
   color: white;
}

.header .logo{
   font-size: 2.5rem;
   color: white;

}

.header .logo img{
   position: absolute;
   top: 10px;
   left: 10px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.header .navbar a{
   font-size: 1.7rem;
   color: white;
   margin-left: 2rem;
   transition: all 0.3s ease-in-out;
}

.header .navbar a:hover{
  color: rgb(94, 20, 20);
}

#menu-btn{
  font-size: 2.5rem;
  border-radius: .5rem;
  background: blue;
  color: white;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}


.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* padding-top: 10rem; */
}
.home .image{
  flex: 1 1 45rem;

}
.home .image img{
  margin-top: 100px;
  margin-left: 30px;
  width: 50%;
  border-radius: 50%;
}
.home .content{
  flex: 1 1 45rem;
}
.home .content h3{
    font-size: 4.5rem;
    color: white;
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}
.home .content p{
  font-size: 1.5rem;
  color: white;
  line-height: 1.8;
  text-shadow: var(--text-shadow);
  padding: 1rem 0;
}

/* .icons-container{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.icons-container .icons{
  border:2px solid white;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i{
  font-size: 4.5rem;
  color: white;
  padding-bottom: .7rem;

}

.icons-container .icons h3{
  font-size: 4.5rem;
  color: white;
  padding: .5rem 0;
  text-shadow: var(--text-shadow);
}
.icons-container .icons p{
  font-size: 1.5rem;
  color: white;
  /* padding: .5rem 0; 
  text-shadow: var(--text-shadow); */
.services .box-container{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit,minmax(27rem, 1fr)); 
}

.services .box-container .box{
  border-radius: .5rem;
  text-align: center;
 
  border: 1px solid white;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  height: 150px;
  width: 40%;
}

.services .box-container .box i{
    padding:2rem;
   color: white;
   font-size: 5rem;
}
.services .box-container .box h3{
  color: white;
  font-size: 1.5rem;
  padding: auto 1rem ;
}
.services .box-container .box p{
  color: white;
  font-size: 1.4rem;
  line-height: 2;
}

.about .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.about .row .image{
  flex: 1 1 45rem;
}
.about .row .image img{
  width: 100%;
  border-radius: 50%;
}
.about .row .content{
  flex:1 1 45rem;
}

.about .row .content h3{
  color: white;
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}
.about .row .content p{
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 1.8;
}


.book .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.book .row .image{
  flex:1 1 45rem;
}
.book .row .image img{
  width: 50%;
  border-radius: 50%;
}
.book .row  form{
  flex:1 1 45rem;
  /* border: var(--border); */
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
 border-radius:.5rem;
 outline: none;
}
.book .row  form h3{
  color: white;
  padding-bottom: 1rem;
  font-size: 3rem;
  text-shadow:var(--text-shadow)
}
.book .row form .box{
  width: 100%;
  margin: .7rem;
  border-radius: .5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: white;
  text-transform: none;
  padding: 1rem;
}
.book .row form .btn{
  background: none;
  padding: 5px 10px;
}
.book .row form input{
  outline: none;
  color: white;
  background: none;
}
.book .row form input::placeholder{
  color: white;
}
.book .row form .btn:hover{
  background: white;
  color:blue;
}

.review .box-container{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
}
.review .box-container .box{
   border: white;
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   padding: 2.5rem;
   text-align: center;
   position: relative;
   overflow: hidden;
   z-index: 0;
}
.review .box-container .box img{
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  object-fit: cover;
  border: .5rem solid white;
}
.review .box-container .box h3{
  color: white ;
  font-size: 2.5rem;
  padding:.5rem 0;
}
.review .box-container .box .star i{
  color: white ;
  font-size: 1.5rem;
}
.review .box-container .box .text{
  color: white ;
  font-size: 1.6rem;
  line-height: 1.8;
  padding-top: 4rem;
}
/* .review .box-container .box::before{
content: '';
position: absolute;
top: -4rem;
left: 50%;
transform: translateX(-50%);
background: rgb(135, 135, 241);
border-top-left-radius: 50%;
border-top-right-radius: 50%;
height: 25rem;
width: 120%;
z-index: -1;
} */


.footer .box-container{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(22rem, 1fr));
}

.footer .box-container h3{
  font-size:2.5rem ;
  padding: 1rem 0;
  color: white;
}

.footer .box-container a{
  display: block;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
}

.footer .box-container a i{
  padding-right: .5rem;
  color: white;
}

.footer .box-container a:hover i{
  padding-right: 2rem;
}

.credit{
  bottom: 0;
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  background: #3F7CAC;
  letter-spacing: 1rem;
  border-top:.5rem solid rgba(0, 0, 0, .2) ;
}


@media (max-width: 991px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem;
  }
  section{
    padding: 2rem 9%;margin: 2rem auto;

  }
  .review .box-container{
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 768px){
  #menu-btn{
    display: initial;
  }
  .header .logo img{
    position: absolute;
    top: 10px;
    left: 20px;
  }
  header .logo p{
   font-size: 20px;
   margin-left: 60px;
  }

  .header .navbar{
    position: fixed;
    top: 0;
    right: -100%;
    left: 80%;
    background-color: blue;
    color: white;
    height: 100vh;
    padding: 24px 0;
    z-index: -1;
    border-radius: 0 0 0 38%;
    margin-top: 20px;
    /* position: absolute;
    top: 115%;
    right: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    border: var(--border);
    background: blue;
    transform: scale(0);
    opacity: 1;
    transform-origin:top right ;
    transition: none; */
  }
  .header .navbar a{
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }

  
  .show{
    transform: scale(1);
    opacity: 0;
    margin-top: 10px;
    transition: .3s ease-in-out; 
    /* right: 0; */
  }
  
  .header .navbar a{
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }
}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }
}